body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
}

form {
    padding: 15px;

    border-radius: 10px;
    counter-reset: section;

}

fieldset {
    font-size: 20px;
    padding: 15px;

}

label {
    display: block;
    margin-top: 15px;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="date"] input[type="number"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 8px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background-color: #2980b9;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1c5980;
}

legend {
    font-weight: bold;
    color: #2980b9;
    padding: 0 5px;
    font-size: 1.2em;
    position: relative;
}

legend::before {
    counter-increment: section;
    content: counter(section) ". ";
    font-weight: bold;
    color: #1c5980;
}

ol {
    list-style-position: inside;
    padding-left: 0;
}

ol>li {
    margin-bottom: 20px;
}

li fieldset {
    display: inline-block;
    width: 100%;
}
div{
    margin: 12px auto 0px auto;
    max-width: 700px;
}